@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Mukta:wght@200&family=Poppins:ital,wght@1,300&family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Lobster&family=Mukta:wght@200&family=Poppins:ital,wght@1,300&display=swap");
body {
  background-color: #353333;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Gentium Book Plus", serif;
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik Moonrocks";
  color: red;
}

.botonwsp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 4;
}

.cajacontainer, .cajam {
  color: black;
  border-radius: 30px;
  background-color: #383E42;
}

.letra {
  font-family: "Gentium Book Plus", serif;
  font-family: "Lobster";
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.contenidoinicio h2 {
  font-size: 40px;
}

.contenidoinicio p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.cajacontacto {
  background-color: #435151;
  border-radius: 30px;
}
.cajacontacto label {
  color: white;
}

.titulocontacto {
  font-family: "Gentium Book Plus", serif;
  font-family: "Lobster", cursive;
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: black;
}

.mapa {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.auto {
  padding: 60px 0;
  position: relative;
}

.auto::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
}

.auto .container {
  position: relative;
  z-index: 10;
  padding: 50px;
}

.auto .container h2 {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 30px;
  position: relative;
  padding-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

.auto .member {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.auto .member .pic {
  overflow: hidden;
}

.auto .member .member-info {
  position: absolute;
  bottom: -80px;
  left: 20px;
  right: 20px;
  background: #fff;
  padding: 20px 0;
  color: black;
  font-family: "Gentium Book Plus", serif;
  font-family: "Lobster";
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.auto .member h3 {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
  color: #6c665c;
  position: relative;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.auto .member h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #f7b733;
  bottom: 0;
  left: calc(50% - 25px);
}

.auto .member p {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.videon {
  padding-left: 0;
}

.videon iframe {
  border-radius: 20px;
}

.cardsi p {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

/*{

}
*//*# sourceMappingURL=estilos.css.map */