@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Mukta:wght@200&family=Poppins:ital,wght@1,300&family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #353333;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Gentium Book Plus", serif;
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik Moonrocks";
  color: red;
}

li a {
  color: #f7b733 !important;
}

.botonwsp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 4;
}

.cajacontainer, .cajac, .cajah, .cajam {
  color: black;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.13);
}

.letra {
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

footer {
  width: 100%;
  margin-top: 200px;
}

/* Proyecto a fondo
  .primerfondo {
    background: url("../") center center no-repeat;
    background-size: cover;
  }
  .segundofondo {
    background: url("../") center center no-repeat;
    background-size: cover;
  }*/
.fondoinicio {
  background: url("../images/pexels-chris-clark-9270395.jpg") center center repeat;
  background-size: cover;
}

.primeraCaja img {
  height: 95vh;
}
.primeraCaja h1,
.primeraCaja h2 {
  text-align: center;
  font-family: "lobster", cursive;
  font-size: 50px;
  color: black;
  font-weight: 600;
}
.primeraCaja p {
  color: black;
  font-size: 35px;
  font-family: "lobster", cursive;
  font-weight: 600;
}

#carouselExampleCaptions {
  width: 100%;
}

.contenidoinicio h2, .contenidoi h2 {
  font-size: 44px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.contenidoinicio p, .contenidoi p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.letrai {
  font-size: 22px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.imgi {
  border-radius: 65px;
}

.fondohistoria {
  background: url("../images/pexels-anna-kester-5352939.jpg") center center repeat;
  background-size: cover;
}

.fotohistoria {
  border-radius: 100%;
  overflow: hidden;
  width: 550px;
  margin-top: 5px;
}

.cajah {
  background: rgba(59, 87, 88, 0.411);
}

.fondocontacto {
  background: url("../images/IMG_9753.jpeg") center center repeat;
  background-size: cover;
}

.cajacontacto {
  background-color: rgba(78, 160, 160, 0.3490196078);
  border-radius: 30px;
}
.cajacontacto label {
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
.cajacontacto ::-moz-placeholder {
  font-family: "Josefin Sans", sans-serif;
}
.cajacontacto :-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
}
.cajacontacto ::placeholder {
  font-family: "Josefin Sans", sans-serif;
}
.cajacontacto button {
  background-color: #496063;
  font-family: "Josefin Sans", sans-serif;
}

.titulocontacto {
  font-family: "lobster", cursive;
  font-size: 40px;
}

.mapa {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.contacto h2, .contacto h3 {
  font-family: "lobster", cursive;
  border-bottom: red solid;
}
.contacto p {
  font-size: 16px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.fondoreglamento {
  background: url("../images/pexels-andrey-karpov-5687983.jpg") center center repeat;
  background-size: cover;
}

.containercards {
  position: relative;
  z-index: 10;
  padding: 50px;
  color: black;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.089);
}

.containercards h2 {
  position: relative;
  padding-bottom: 5px;
}

.reglamento {
  background-color: rgba(73, 96, 99, 0.6901960784);
  border-radius: 10px;
}
.reglamento h2,
.reglamento h3 {
  font-weight: 600;
  font-family: "lobster", cursive;
  border-bottom: red solid;
}
.reglamento p {
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.titulorv {
  font-family: "lobster", cursive;
  border-bottom: #f7b733 solid;
  color: white;
}

.videon {
  padding-left: 0;
}

.videon iframe {
  border-radius: 20px;
}

.letrar {
  margin-top: 22px;
  color: white;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.fondoautomotores {
  background: url("../images/pexels-chris-clark-9270395.jpg") center center repeat;
  background-size: cover;
}

.cardsi p {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.automotores {
  text-align: center;
}
.automotores h2 {
  font-weight: 600;
  font-family: "lobster", cursive;
  border-bottom: #F95323 solid;
}

.zoom:hover {
  transform: scale(1.1);
}

.zoom {
  transition: transform 1s;
}

/*{

}
*//*# sourceMappingURL=estilos.css.map */