  
  .cajacontacto {
    background-color: #435151;
    border-radius: 30px; 
     
    label {
      color: white; }
      button{
        background-color: #496063;
      }
    }
  
  .titulocontacto {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: black;
  }

  
  .mapa {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto; }
   
    .contacto{
      h2, h3{
        font-family: 'lobster', cursive;
        border-bottom: red solid;
      }
  
  
      p{
        font-size: 16px;
        font-weight: bold;
        font-family: 'Josefin Sans', sans-serif;
      }
    }
  