
body {
    background-color: #353333;
  }

  img {
    max-width: 100%;
    height: auto;
  }


  h1 {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik Moonrocks';
    color: red;
  }
  
  .botonwsp img {
    width: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 4;
  }

  .cajacontainer, .cajam {
    color: black;
    border-radius: 30px; 
  background-color: #383E42;
  }

  .letra {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Lobster';
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
  font-weight: 600;}
