@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Mukta:wght@200&family=Poppins:ital,wght@1,300&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Lobster&display=swap');

$color-amarillo: #f7b733;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #353333;
}

img {
  max-width: 100%;
  height: auto;
}


h1 {
  font-family: 'Gentium Book Plus', serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik Moonrocks';
  color: red;
}

.titulosad {
  font-family: 'lobster', cursive;
  color: red;

}
.tituloa {
  font-family: 'lobster', cursive;
  color: red($color: #000000);

}

.navcolor {
  color: white;
  font-weight: bold;
}


.botonwsp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 4;
}

.cajacontainer,
.cajam {
  color: black;
  background: rgba(255, 255, 255, 0);
}

.letra {
  @include parrafos;
  font-size: 20px;
}

footer {
  width: 100%;
  margin-top: 150px;
}

.co .coo .cooo {
  color: white;
}

/* Proyecto a fondo
  .primerfondo {
    background: url("../") center center no-repeat;
    background-size: cover;
  }
  .segundofondo {
    background: url("../") center center no-repeat;
    background-size: cover;
  }*/