
.fondohistoria {
    background: url("../images/pexels-anna-kester-5352939.jpg") center center repeat;
    background-size: cover;
  }

  .fotohistoria{
   border-radius: 100%;
   overflow: hidden;
   width: 550px;
   margin-top: 5px
  }

  .contenidoi {
   @extend .contenidoinicio, .contenidoinicio ; 
   }

   .cajah {
    @extend .cajacontainer, .cajam;
    background: rgba(59, 87, 88, 0.411);
  }
  
