.fondohistoria {
  background: url("../images/pexels-anna-kester-5352939.jpg") center center repeat;
  background-size: cover;
}

.fotohistoria {
  border-radius: 100%;
  overflow: hidden;
  width: 550px;
  margin-top: 5px
}

.contenidoi {
  @extend .contenidoinicio;
}

.cajah {
  @extend .cajacontainer,
  .cajam;

  h2 {
    border-bottom: #F95323 solid;
  }
}

.containerh {
  position: relative;
  z-index: 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0);
  font-size: 18px;
}

.historia {
  background: rgba(255, 255, 255, 0.329);
  border-radius: 4px;
  color: black;

  .fotoh {
    border-radius: 40%;
  }

  h2,
  p {
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
  }
}