
  
  .containercards {
    position: relative;
    z-index: 10;
    padding: 50px;
    color: black;
    border-radius: 30px; 
  background-color: #383E42;
    
   
  }

     .containercards h2 {
    position: relative;
    padding-bottom: 5px;

  }
  

  .reglamento {
    background-color: #496063;
    border-radius: 10px;
    
    h2, h3{
      font-weight: 600;
      font-family: 'lobster', cursive;
      border-bottom: red solid;
      
    }
    p{
      font-weight: bold;
        font-family: 'Josefin Sans', sans-serif;
        
    }
  }
  
  .cajablanca {
    background-color: #496063;
    border-radius: 25px; 
     }
  
  .videon {
    padding-left: 0;
 }
    .videon iframe {
      border-radius: 20px; }
  


