.fondoreglamento {
  background: url("../images/pexels-andrey-karpov-5687983.jpg") center center repeat;
  background-size: cover;
}

.containercards {
  position: relative;
  z-index: 10;
  padding: 50px;
  color: black;
  background: rgba(255, 255, 255, 0);
}

.containercards h2 {
  position: relative;
  padding-bottom: 5px;
}

.reglamento {
  background-color: #67888db0;
  border-radius: 10px;

  h2,
  h3 {
    font-weight: 600;
    font-family: 'lobster', cursive;
    border-bottom: #F95323 solid;
  }

  p {
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;

  }
}


@media (max-width: 500px){

  .reglamento {
    background-color: #4960634f;
    
  }
  
   
}



.titulorv {
  font-family: 'lobster', cursive;
  border-bottom: #F95323 solid;
  color: white;
}

.videon {
  padding-left: 0;
}

.videon iframe {
  border-radius: 20px;
}

.letrar {
  margin-top: 22px;
  color: white;
  @include parrafos;

}