.auto {
    padding: 60px 0;
    position: relative;
  }
  
  .auto::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
  }
  
  .auto .container {
    position: relative;
    z-index: 10;
  }
  
  .auto .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  
  .auto .member .pic {
    overflow: hidden;
  }
  
  .auto .member .member-info {
    position: absolute;
    bottom: -80px;
    left: 20px;
    right: 20px;
    background: #fff;
    padding: 20px 0;
    color: black;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Lobster';
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .auto .member h2 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
    color: #6c665c;
    position: relative;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  .auto .member h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #f7b733;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .auto .member p {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  .auto .member .social {
    margin-top: 15px;
  }
  
  .auto .member .social  {
    transition: color 0.3s;
    color: #7a7368;
  }
  
  .auto .member .social {
    color: #f7b733;
  }
  
  .auto .member .social i {
    font-size: 16px;
    margin: 0 2px;
  }

  .videon {
    padding-left: 0; }
    .videon iframe {
      border-radius: 20px; }
  

  